body {
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
}

/* стили для заголовка */
header {
  background-color: #333;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333333;
}

header {
    background-color: #ffffff;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 30px;
}

nav a {
    color: #333333;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}

nav a:hover {
    color: #ff6600;
}

main {
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 80%;
    max-width: 1000px;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 0
  }
footer {
  text-align: center;
}
